body {
    background-image: url();
    background-size: cover;
    background-position: center;
}

#header {
    margin-bottom: 50px;
    height: 100px;
    
}

.brand-logo {
    margin-left: 20px;
    
}

#video-div {
    margin-top: 20px;
}

#album {

    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}

#lyrics {

    font-size: 14px;
    line-height: 1.6;


}

.thumbnail {
    float: left;
}

.newVidDiv {
    overflow: hidden;
    margin: 5px;
}

.title {
    padding-left: 10px;
    
}