body {
    background-image: url(https://i.pinimg.com/originals/22/b8/93/22b8932b31d536d8b838291c11a60ff2.jpg);
    background-size: cover;
    background-position: center;
}

#header {
    margin-bottom: 50px;
    height: 100px;
    
}

.brand-logo {
    margin-left: 20px;
    
}

#video-div {
    margin-top: 20px;
}